/examples/NEURON/ParallelNetwork/runsim.sh
/.gitignore~
/examples/NEURON/ParallelNetwork/*.dat
/examples/NEURON/ParallelNetwork/*.props
/neuroConstruct/generatedNeuroML2/runsim.sh

*.pyc
*i686
*x86_64
generatedNEURON
generatedGENESIS
generatedNeuroML
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class
*~
/NSG-R/Java/target/
/NSG-R/datatypes*
/NSG-R/Java/pycipres.conf
/NSG-R/Java/src/main/java/META-INF/MANIFEST.MF
/NSG-R/STDERR
/NSG-R/STDOUT
/NSG-R/output.tar.gz
/NSG-R/scheduler_stdout.txt
/examples/NetPyNE2/TestL23/*.dat
/NSG-R/*.dat
/examples/NetPyNE/MediumNet/*.dat
/NSG-R/download_results_live.sh
/NSG-R/download_results_osb.sh
/NSG-R/list_jobs_admin_osb.sh
/NSG-R/list_jobs_live.sh
/NSG-R/list_jobs_local.sh
/NSG-R/list_jobs_osb.sh
/NSG-R/list_results_live.sh
/NSG-R/list_results_osb.sh
/NSG-R/read_env_variables_admin_osb
/NSG-R/read_env_variables_live
/NSG-R/read_env_variables_osb
/NSG-R/status_job_live.sh
/NSG-R/status_job_osb.sh
/NSG-R/submit_python_job_live.sh
/examples/NetPyNE2/TestL23/LEMS_TestL23_netpyne.py_main.json
/examples/NetPyNE2/TestL23/TestL23.py
/examples/tune/Tuner/NT_*
