/examples/NEURON/ParallelNetwork/runsim.sh
/.gitignore~
/examples/NEURON/ParallelNetwork/*.dat
/examples/NEURON/ParallelNetwork/*.props
/neuroConstruct/generatedNeuroML2/runsim.sh

*.pyc
*i686
*x86_64
generatedNEURON
generatedGENESIS
generatedNeuroML
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class
*~
/NSG-R/Java/target/
/NSG-R/datatypes*
/NSG-R/Java/pycipres.conf
/NSG-R/Java/src/main/java/META-INF/MANIFEST.MF
/NSG-R/STDERR
/NSG-R/STDOUT
/NSG-R/output.tar.gz
/NSG-R/scheduler_stdout.txt
/examples/NetPyNE2/TestL23/*.dat
/NSG-R/*.dat
